@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    -webkit-tap-highlight-color: rgba(225, 225, 225, 0);
}

body{
    background-color: #363E48;
    background-image: none;
}

.logoLocation{
    position: absolute;
    top: 40px;
    left: 3%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.signUpLocation{
   position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper{
    background-color: #434C57;
    width: 260px;
    height: 390px;
    padding: 30px 30px;
    border-radius: 12px;
}

::placeholder{
    color: #F6F3DE;
    opacity: 1;
}

.emailBox{
    margin-top: 22px;
    margin-left: -10px;
    resize: none;
    float: left;
}

.inputBox{
    margin-top: 5px;
    margin-left: -10px;
    resize: none;
    float: left;
}

.input{
    resize: none;
    outline: none;
    padding: 5px;
    background-color: #505c6a;
    color: #F6F3DE;
    padding-left: 40px;
    margin-left: 28px;
    height: 20px;
    width: 180px;
    border: 1px solid #505c6a;
    border-radius: 10px;
}

.btnSignUp{
    background-color: #4E9292;
    color: #F6F3DE;
    text-align: center;
    cursor: pointer;
    width: 228px;
    height: 35px;
    resize: none;
    -webkit-appearance: none;
    transition: 0.3s;
}

.btnSignUp:hover{
    background-color: rgb(87, 165, 165);
}

.submitBox{
    margin-top: 7px;
    margin-left: 18px;
    resize: none;
    float: left;
}

.logo{
    margin-top: -18px;
}

.prompt{
    color: #F6F3DE;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
}

.emailIcon{
    position: absolute;
    left: 0;
    top: 147px;
    left: 58px;
}

.userIcon{
    position: absolute;
    left: 0;
    top: 188px;
    left: 64px;
}

.passwordIcon{
    position: absolute;
    left: 0;
    top: 262px;
    left: 64px;
}

.confirmBox{
    position: absolute;
    left: 0;
    top: 224px;
    left: 64px;
}

.devider{
    position: absolute;
    left: 0;
    top: 350px;
    left: 48px;
    background-color: #F6F3DE;
    width: 80px;
    height: 1px;
}

.halfDevider{
    position: absolute;
    left: 0;
    top: 350px;
    left: 196px;
    background-color: #F6F3DE;
    width: 80px;
    height: 1px;
}

.or{
    position: absolute;
    color: #F6F3DE;
    font-size: 12px;
    font-weight: normal;
    margin-top: 222px;
    margin-left: 123px;
}

.faceSignUp{
    background-color: #4E9292;
    color: #F6F3DE;
    text-align: center;
    cursor: pointer;
    width: 228px;
    height: 35px;
    resize: none;
    -webkit-appearance: none;
    transition: 0.3s;
}

.faceBookBtn{
    margin-top: 45px;
    margin-left: 18px;
    resize: none;
    float: left;
}

.facebookIcon{
    position: absolute;
    margin-left: -80px;
    margin-top: -29px;
}

.faceSignUp:hover{
    background-color: rgb(87, 165, 165);
}

.box{
    background-color: #434C57;
    width: 260px;
    height: 30px;
    padding: 30px 30px;
    border-radius: 12px;
    margin-top: 30px;
}
